body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-section {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
}

.tab.active {
    border-bottom: 2px solid #007BFF;
    color: #007BFF;
}

.tab-content {
    display: flex;
    flex-direction: column;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-auth {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-auth:hover {
    background-color: #0056b3;
}
